# 네이버 금융 환율 정보

In [2]:
%pip install html5lib

Collecting html5lib
  Downloading html5lib-1.1-py2.py3-none-any.whl.metadata (16 kB)
Requirement already satisfied: six>=1.9 in /opt/anaconda3/envs/data_analysis/lib/python3.13/site-packages (from html5lib) (1.17.0)
Collecting webencodings (from html5lib)
  Downloading webencodings-0.5.1-py2.py3-none-any.whl.metadata (2.1 kB)
Downloading html5lib-1.1-py2.py3-none-any.whl (112 kB)
Downloading webencodings-0.5.1-py2.py3-none-any.whl (11 kB)
Installing collected packages: webencodings, html5lib
Successfully installed html5lib-1.1 webencodings-0.5.1
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pandas as pd

url = 'https://finance.naver.com/marketindex/exchangeList.naver'
dfs = pd.read_html(url, encoding='cp949', header=1)

/opt/anaconda3/envs/data_analysis/lib/python3.13/site-packages/bs4/__init__.py:228: UserWarning: You provided Unicode markup but also provided a value for from_encoding. Your from_encoding will be ignored.
  warnings.warn("You provided Unicode markup but also provided a value for from_encoding. Your from_encoding will be ignored.")

In [2]:
dfs

[              통화명    매매기준율     사실 때     파실 때    보내실 때    받으실 때  미화환산율
 0          미국 USD  1458.30  1483.82  1432.78  1472.50  1444.10  1.000
 1        유럽연합 EUR  1511.31  1541.38  1481.24  1526.42  1496.20  1.036
 2   일본 JPY (100엔)   939.60   956.04   923.16   948.80   930.40  0.644
 3          중국 CNY   199.18   209.13   189.23   201.17   197.19  0.137
 4          홍콩 HKD   187.13   190.81   183.45   189.00   185.26  0.128
 5          대만 TWD    44.22    50.01    39.80      NaN      NaN  0.030
 6          영국 GBP  1807.27  1842.87  1771.67  1825.34  1789.20  1.239
 7          오만 OMR  3792.72  4058.21  3527.23      NaN      NaN  2.601
 8         캐나다 CAD  1003.85  1023.62   984.08  1013.88   993.82  0.688
 9         스위스 CHF  1600.68  1632.21  1569.15  1616.68  1584.68  1.098
 10        스웨덴 SEK   131.42   135.75   123.93   132.73   130.11  0.090
 11         호주 AUD   905.90   923.74   888.06   914.95   896.85  0.621
 12       뉴질랜드 NZD   821.97   838.16   805.78   830.18   813.76  0.564
 13         체코 CZK    59.96    65.05    54.57    60.61    59.31  0.041
 14         칠레 CLP     1.49     1.63     1.35      NaN      NaN  0.001
 15       튀르키예 TRY    40.85      NaN      NaN    41.29    40.41  0.028
 16         몽골 MNT     0.42      NaN      NaN      NaN      NaN  0.000
 17       이스라엘 ILS   407.51   448.26   374.91      NaN      NaN  0.279
 18        덴마크 DKK   202.49   209.17   190.95   204.51   200.47  0.139
 19       노르웨이 NOK   128.83   133.08   121.49   130.11   127.55  0.088
 20    사우디아라비아 SAR   388.81   413.30   361.99   392.69   384.93  0.267
 21       쿠웨이트 KWD  4724.92  5032.03  4346.93  4772.16  4677.68  3.240
 22        바레인 BHD  3868.17  4115.73  3558.72  3906.85  3829.49  2.653
 23     아랍에미리트 AED   397.03   418.86   369.64   401.00   393.06  0.272
 24        요르단 JOD  2056.84  2239.89  1892.30      NaN      NaN  1.410
 25        이집트 EGP    29.02      NaN      NaN      NaN      NaN  0.020
 26         태국 THB    43.17    45.32    40.58    43.60    42.74  0.030
 27       싱가포르 SGD  1073.23  1094.58  1051.88  1083.96  1062.50  0.736
 28      말레이시아 MYR   327.34   351.56   303.12      NaN   324.07  0.225
 29  인도네시아 IDR 100     8.97     9.86     8.08     9.05     8.89  0.006
 30        카타르 QAR   399.99      NaN      NaN      NaN      NaN  0.274
 31      카자흐스탄 KZT     2.81      NaN      NaN      NaN      NaN  0.002
 32       브루나이 BND  1073.23  1116.15  1008.84      NaN      NaN  0.736
 33         인도 INR    16.85      NaN      NaN    17.04    16.66  0.012
 34       파키스탄 PKR     5.23      NaN      NaN      NaN      NaN  0.004
 35      방글라데시 BDT    12.00      NaN      NaN      NaN      NaN  0.008
 36        필리핀 PHP    24.97    27.46    22.93    25.21    24.73  0.017
 37        멕시코 MXN    70.51    77.91    63.11    71.21    69.81  0.048
 38        브라질 BRL   249.64   275.10   224.68      NaN   246.65  0.171
 39    베트남 VND 100     5.87     6.56     5.18     5.92     5.82  0.004
 40  남아프리카 공화국 ZAR    78.11    84.35    71.87    79.04    77.18  0.054
 41        러시아 RUB    14.73    16.12    12.16    15.24    14.22  0.010
 42        헝가리 HUF     3.71     4.05     3.42     3.75     3.67  0.003
 43        폴란드 PLN   358.65   387.34   329.96   362.59   354.71  0.246
 44       스리랑카 LKR     4.89      NaN      NaN      NaN      NaN  0.003
 45        알제리 DZD    10.78      NaN      NaN      NaN      NaN  0.007
 46         케냐 KES    11.29      NaN      NaN      NaN      NaN  0.008
 47       콜롬비아 COP     0.35      NaN      NaN      NaN      NaN  0.000
 48       탄자니아 TZS     0.57      NaN      NaN      NaN      NaN  0.000
 49         네팔 NPR    10.52      NaN      NaN      NaN      NaN  0.007
 50       루마니아 RON   303.71      NaN      NaN   307.05   300.37  0.208
 51        리비아 LYD   297.03      NaN      NaN   300.00   294.06  0.204
 52        마카오 MOP   181.58      NaN      NaN      NaN      NaN  0.125
 53        미얀마 MMK     0.69      NaN      NaN      NaN      NaN  0.001
 54      에티오피아 ETB    11.40      NaN      NaN      NaN      NaN  0.008
 55     우즈베키스탄 UZS     0.11      NaN      NaN      NaN      NaN  0.000
 56       캄보디아 KHR     0.36      NaN      NaN      NaN      NaN  0.000
 57         피지 FJD   627.80      NaN      NaN      NaN      NaN  0.431]

In [7]:
urlUSD = 'https://finance.naver.com/marketindex/exchangeDailyQuote.naver?marketindexCd=FX_USDKRW&page='
urlEUR = 'https://finance.naver.com/marketindex/exchangeDailyQuote.naver?marketindexCd=FX_EURKRW&page=1'

df = pd.DataFrame()
for page_num in range(1,5):
    url = f'{url}{page_num}'
    dfs = pd.read_html(urlUSD, encoding='cp949', header=1)
    df = pd.concat([df,dfs[0]])
df

/opt/anaconda3/envs/data_analysis/lib/python3.13/site-packages/bs4/__init__.py:228: UserWarning: You provided Unicode markup but also provided a value for from_encoding. Your from_encoding will be ignored.
  warnings.warn("You provided Unicode markup but also provided a value for from_encoding. Your from_encoding will be ignored.")
/opt/anaconda3/envs/data_analysis/lib/python3.13/site-packages/bs4/__init__.py:228: UserWarning: You provided Unicode markup but also provided a value for from_encoding. Your from_encoding will be ignored.
  warnings.warn("You provided Unicode markup but also provided a value for from_encoding. Your from_encoding will be ignored.")
/opt/anaconda3/envs/data_analysis/lib/python3.13/site-packages/bs4/__init__.py:228: UserWarning: You provided Unicode markup but also provided a value for from_encoding. Your from_encoding will be ignored.
  warnings.warn("You provided Unicode markup but also provided a value for from_encoding. Your from_encoding will be ignored.")
/opt/anaconda3/envs/data_analysis/lib/python3.13/site-packages/bs4/__init__.py:228: UserWarning: You provided Unicode markup but also provided a value for from_encoding. Your from_encoding will be ignored.
  warnings.warn("You provided Unicode markup but also provided a value for from_encoding. Your from_encoding will be ignored.")

           날짜   매매기준율  전일대비     사실 때     파실 때   보내실 때   받으실 때
0  2025.01.31  1458.3  12.3  1483.82  1432.78  1472.5  1444.1
1  2025.01.24  1446.0   9.5  1471.30  1420.70  1460.1  1431.9
2  2025.01.23  1436.5   0.5  1461.63  1411.37  1450.5  1422.5
3  2025.01.22  1437.0   0.5  1462.14  1411.86  1451.0  1423.0
4  2025.01.21  1436.5   4.5  1461.63  1411.37  1450.5  1422.5
5  2025.01.20  1441.0  18.5  1466.21  1415.79  1455.1  1426.9
6  2025.01.17  1459.5   2.0  1485.04  1433.96  1473.8  1445.2
7  2025.01.16  1457.5   1.5  1483.00  1432.00  1471.7  1443.3
8  2025.01.15  1456.0   5.0  1481.48  1430.52  1470.2  1441.8
9  2025.01.14  1461.0   7.0  1486.56  1435.44  1475.3  1446.7
0  2025.01.31  1458.3  12.3  1483.82  1432.78  1472.5  1444.1
1  2025.01.24  1446.0   9.5  1471.30  1420.70  1460.1  1431.9
2  2025.01.23  1436.5   0.5  1461.63  1411.37  1450.5  1422.5
3  2025.01.22  1437.0   0.5  1462.14  1411.86  1451.0  1423.0
4  2025.01.21  1436.5   4.5  1461.63  1411.37  1450.5  1422.5
5  2025.01.20  1441.0  18.5  1466.21  1415.79  1455.1  1426.9
6  2025.01.17  1459.5   2.0  1485.04  1433.96  1473.8  1445.2
7  2025.01.16  1457.5   1.5  1483.00  1432.00  1471.7  1443.3
8  2025.01.15  1456.0   5.0  1481.48  1430.52  1470.2  1441.8
9  2025.01.14  1461.0   7.0  1486.56  1435.44  1475.3  1446.7
0  2025.01.31  1458.3  12.3  1483.82  1432.78  1472.5  1444.1
1  2025.01.24  1446.0   9.5  1471.30  1420.70  1460.1  1431.9
2  2025.01.23  1436.5   0.5  1461.63  1411.37  1450.5  1422.5
3  2025.01.22  1437.0   0.5  1462.14  1411.86  1451.0  1423.0
4  2025.01.21  1436.5   4.5  1461.63  1411.37  1450.5  1422.5
5  2025.01.20  1441.0  18.5  1466.21  1415.79  1455.1  1426.9
6  2025.01.17  1459.5   2.0  1485.04  1433.96  1473.8  1445.2
7  2025.01.16  1457.5   1.5  1483.00  1432.00  1471.7  1443.3
8  2025.01.15  1456.0   5.0  1481.48  1430.52  1470.2  1441.8
9  2025.01.14  1461.0   7.0  1486.56  1435.44  1475.3  1446.7
0  2025.01.31  1458.3  12.3  1483.82  1432.78  1472.5  1444.1
1  2025.01.24  1446.0   9.5  1471.30  1420.70  1460.1  1431.9
2  2025.01.23  1436.5   0.5  1461.63  1411.37  1450.5  1422.5
3  2025.01.22  1437.0   0.5  1462.14  1411.86  1451.0  1423.0
4  2025.01.21  1436.5   4.5  1461.63  1411.37  1450.5  1422.5
5  2025.01.20  1441.0  18.5  1466.21  1415.79  1455.1  1426.9
6  2025.01.17  1459.5   2.0  1485.04  1433.96  1473.8  1445.2
7  2025.01.16  1457.5   1.5  1483.00  1432.00  1471.7  1443.3
8  2025.01.15  1456.0   5.0  1481.48  1430.52  1470.2  1441.8
9  2025.01.14  1461.0   7.0  1486.56  1435.44  1475.3  1446.7